@import "css/fonts.css";
@import "css/header.css";

*{
    margin : 0;
    padding : 0;
}

body, html{
    font-family: HeaderFont;
    background-color: #49443d;
    height : 100%;
}

body{
    display : flex;
    justify-content: center;
    flex-direction: column;
}

#root{
    padding :10px;
    padding-bottom: 0;
    height : 100%;
    width : 80%;
    margin : auto;
    border : none;
}

#header{
    box-shadow: 5px 15px 14px rgba(0,0,0,0.33);
    display : flex;
    justify-content: center;
    padding : 20px;
    color : azure;
    font-size: 14px;
    background-color: #3d372d;

}
#header > h1{
    text-shadow: 2px 2px 4px #000000;
    margin-top : auto;
    margin-bottom : auto;
}

#header > img{
    height : 40px;
    width : 40px;
}

.description{
    display : grid;
    grid-template-areas: 
        "title title"    
        "paragraph popupimg"
    ;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap : 10px;
}
.description{
    margin-top: 20px;
}
.description > h2{
    
    grid-area: title;
    color : rgb(76, 182, 111);
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.description > img{
    box-shadow: 15px 0 17px rgba(0,0,0,0.33);
    grid-area: popupimg;
    border-radius: 5px 5px 5px 5px;
    border : 2px solid rgba(240, 255, 255, 0.212);
}
.description > p{   
    grid-area: paragraph;
    font-family: HeaderFont;
    line-height: 20px;
    color : azure;
}